# SMTP & Email Service Configuration Template
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=narasimhasphillsphere@gmail.com
SMTP_PASS=srqnhsejhzizijnt
RECIPIENT_EMAIL=narasimhasphillsphere@gmail.com
VITE_RECIPIENT_EMAIL=narasimhasphillsphere@gmail.com
